@font-face {
  font-family: "Weather Icons";
  src: url(../fonts/weather-icons.ttf);
}

*:focus {
  box-shadow: 0 0 3px 3px rgba(65, 180, 250, 0.8);
  outline: none;
}

html {
  background: #004966;
}

h1 {
  font-size: 1.2rem;
  letter-spacing: 4px;
  line-height: 24px;
  padding: 6% 0;
}

main {
  padding-bottom: 80px;
}

.spinner {
  padding-top: 40px;
}

.card {
  background: #006e99;
  display: none;
  grid-template-columns: 100%;
  margin: auto;
  max-width: 1000px;
  padding: 30px 20px;
}

.location {
  font-size: 1rem;
  text-shadow: 1px 1px 1px #004966;
}

.temp {
  font-size: 4.5rem;
  margin-top: 25px;
  text-shadow: 2px 2px 1px #004966;
}

.weather-icon {
  font-family: "Weather Icons";
  font-size: 3.5rem;
  margin-top: 25px;
  text-shadow: 2px 2px 1px #004966;
}

.weather {
  font-size: 1rem;
  margin-top: 25px;
  text-shadow: 1px 1px 1px #004966;
}

.sunrise-sunset {
  margin: 25px auto 0;
}

.sunrise-sunset th {
  background: #004966;
  font-size: 0.7rem;
  padding: 10px;
  text-transform: uppercase;
  width: 100px;
}

.sunrise-sunset td {
  padding: 10px;
}

.switch {
  background: #004966;
  border: 3px solid #004966;
  border-radius: 34px;
  height: 34px;
  margin: 25px 0;
  padding: 4px 8px;
  position: relative;
  text-align: right;
  width: 70px;
}

.switch:before {
  background: #fff;
  border-radius: 50%;
  bottom: 1px;
  content: "";
  height: 26px;
  left: 1px;
  position: absolute;
  width: 26px;
}

.fahrenheit {
  text-align: right;
}

.fahrenheit:before {
  animation: toggleF 0.15s ease-out;
  left: 1px;
}

.celsius {
  text-align: left;
}

.celsius:before {
  animation: toggleC 0.15s ease-out;
  left: 37px;
}

@keyframes toggleF {
  from {
    left: 35px;
  }
  to {
    left: 1px;
  }
}

@keyframes toggleC {
  from {
    left: 1px;
  }
  to {
    left: 37px;
  }
}

.col:last-child table {
  margin: auto;
  width: 215px;
}

.col:last-child .hourly-forecast {
  background: #004966;
  display: flex;
  margin-bottom: 20px;
}

.hourly-forecast tbody {
  overflow-x: auto;
  position: relative;
}

.hourly-forecast tbody tr {
  display: table-cell;
  padding: 18px;
}

.hourly-forecast tbody tr td {
  display: table-row;
  line-height: 25px;
}

.hourly-forecast td:last-child span:last-child {
  display: none;
}

.hourly-forecast .wi {
  font-family: "Weather Icons";
  font-size: 1rem;
}

.daily-forecast th {
  background: #004966;
  font-size: 0.7rem;
  padding: 10px;
  text-transform: uppercase;
}

.daily-forecast tr {
  border-top: 1px solid #004966;
}

.daily-forecast tr td {
  line-height: 22px;
  padding: 6px;
  vertical-align: top;
}

.daily-forecast tr td:last-child {
  display: none;
  text-align: left;
}

.daily-forecast td:nth-child(2) span:last-child {
  display: none;
}

.daily-forecast .wi {
  font-family: "Weather Icons";
  font-size: 1rem;
}

.error-message {
  background: hsl(349, 96%, 95%);
  border: 1px solid hsl(349, 96%, 90%);
  border-radius: 3px;
  color: hsl(349, 96%, 26%);
  display: none;
  line-height: 20px;
  margin: 40px auto 0;
  max-width: 900px;
  padding: 15px 10px;
}

footer {
  background: #006e99;
  bottom: 0;
  font-size: 0.6rem;
  left: 0;
  padding: 14px 0;
  position: absolute;
  right: 0;
  width: 100%;
}

footer span {
  margin: 0 6px;
}

footer a,
footer a:visited,
footer a:hover,
footer a:active,
footer a:focus {
  color: #ffff80;
}

@media only screen and (min-width: 350px) {

  .col:last-child table {
    width: 285px;
  }
}

@media only screen and (min-width: 550px) {

  h1 {
    font-size: 1.4rem;
    padding: 6% 0 3%;
  }

  .col:last-child table {
    width: 440px;
  }

  .hourly-forecast tbody tr td {
    font-size: 0.7rem;
  }

  .daily-forecast tr td {
    font-size: 0.7rem;
  }

  .daily-forecast tr td:last-child {
    display: table-cell;
  }

  footer {
    font-size: 0.8rem;
  }

  footer span {
    margin: 0 10px;
  }
}

@media only screen and (min-width: 980px) {

  .card {
    grid-template-columns: 50% 50%;
  }
}
