// STYLES FOR PAGE'S MAIN CONTENT

// Button styles
.button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.button,
.button:visited,
.button:hover,
.button:active,
.button:focus {
  background: transparent;
  border: 0;
  border-radius: 0;
  color: change-color($black, $lightness: 100%);
  cursor: pointer;
  letter-spacing: 1px;
  line-height: normal;
  padding: 0;
  width: auto;
  &:hover {
    text-decoration: none;
  }
}

.page-load-view + main .button-group {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.page-load-view + main .page-load-buttons .button,
.page-load-view + main .page-load-buttons .button:visited,
.page-load-view + main .page-load-buttons .button:hover,
.page-load-view + main .page-load-buttons .button:active,
.page-load-view + main .page-load-buttons .button:focus {
  background: $blue;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 12px;
  width: 230px;
  &:hover {
    color: $yellow;
  }
  .icon {
    pointer-events: none;
  }
}

.results-view .button,
.results-view .button:visited,
.results-view .button:hover,
.results-view .button:active,
.results-view .button:focus {
  background: change-color($blue, $lightness: 30%);
  border-radius: 4px;
  height: 30px;
  margin-left: 8px;
  width: 30px;
  &:hover {
    color: $yellow;
  }
  .icon {
    pointer-events: none;
  }
}

// Default table styles
table {
  background: $blue;
  margin: 0 auto;
  min-width: 250px;
  tr:not(:first-child) {
    border-top: 1px solid change-color($blue, $lightness: 30%);
  }
  td {
    font-size: 0.8rem;
    line-height: 1.7;
    padding: 10px;
  }
}

// Weather content styles
.location {
  font-size: 1.7rem;
  text-shadow: 1px 1px 1px $blue;
}

.switch-button,
.switch-button:visited,
.switch-button:hover,
.switch-button:active,
.switch-button:focus {
  background: $blue;
  border: 3px solid $blue;
  border-radius: 34px;
  height: 34px;
  margin: 25px 0;
  padding: 4px 8px;
  position: relative;
  width: 70px;
  &:before {
    background: change-color($black, $lightness: 100%);
    border-radius: 50%;
    bottom: 1px;
    content: "";
    height: 26px;
    position: absolute;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    width: 26px;
  }
  &.f,
  &.f:hover,
  &.f:active,
  &.f:focus {
    text-align: right;
    &:before {
      left: 1px;
    }
  }
  &.c,
  &.c:hover,
  &.c:active,
  &.c:focus{
    text-align: left;
    &:before {
      left: 37px;
    }
  }
}

.weather-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  margin: 0 auto;
  max-width: 1000px;
  @media all and (min-width: 980px) {
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
  }
  .col {
    padding: 10px 5px;
    .current-weather {
      .temp {
        font-size: 4.5rem;
        text-shadow: 2px 2px 1px $blue;
      }
      .weather-icon {
        font-size: 3.5rem;
        margin-top: 25px;
        text-shadow: 2px 2px 1px $blue;
      }
      .weather-summary {
        margin-top: 25px;
        text-shadow: 1px 1px 1px $blue;
        text-transform: capitalize;
      }
    }
    .current-weather-details {
      margin-top: 20px;
      tr td:first-child {
        font-size: 0.7rem;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
    }
    .hourly-forecast {
      background: $blue;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0 auto 20px;
      overflow-x: auto;
      position: relative;
      tr {
        border: 0;
        display: table-cell;
        padding: 18px;
        td {
          display: table-row;
          font-size: 0.8rem;
          line-height: 2.4;
          &.weather-icon {
            font-size: 1rem;
          }
        }
      }
    }
    .daily-forecast {
      .weather-description {
        text-transform: capitalize;
        .weather-icon {
          font-size: 1rem;
        }
      }
    }
  }
}

// Loading spinner styles
.loading-spinner {
  -webkit-animation: spin 0.75s linear infinite;
  animation: spin 0.75s linear infinite;
  border: 4px solid change-color($black, $lightness: 100%);
  border-top: 4px solid transparent;
  border-radius: 50%;
  height: 30px;
  margin: 0 auto;
  width: 30px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}