@font-face {
  font-family: "Weather Icons";
  src: url(.././fonts/weather-icons.ttf);
}

@import "variables";

// BASE PAGE STYLES

html {
  background: transparent;
  box-sizing: border-box;
  color: change-color($black, $lightness: 100%);
  height: 100%;
  font-family: $main-font;
  letter-spacing: 2px;
  text-align: center;
  body {
    background: $blue;
    min-height: 100%;
    overscroll-behavior: none;
    padding: 0 20px;
    position: relative;
    header {
      padding: 45px 0 20px;
    }
    main {
      padding-bottom: 6rem;
    }
    footer {
      background: change-color($blue, $lightness: 30%);
      bottom: 0;
      font-size: 0.8rem;
      left: 0;
      line-height: 1.4;
      padding: 14px;
      position: absolute;
      right: 0;
      width: 100%;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      box-sizing: border-box;
      margin-top: 0;
    }
  }
}

  // BASE ELEMENT STYLES

  div,
  header,
  main,
  footer,
  p,
  table,
  thead,
  tbody,
  tr,
  th,
  td,
  button,
  button:hover,
  button:active,
  button:focus {
    box-sizing: border-box;
  }

  button,
  button:hover,
  button:active,
  button:focus,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  a,
  a:visited,
  a:hover,
  a:active,
  a:focus {
    color: $link-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  a:focus,
  button:focus,
  details:focus,
  input:focus,
  select:focus,
  textarea:focus,
  [tabindex]:focus {
    box-shadow: 0 0 3px 3px hsla(203, 95%, 62%, 0.8);
    outline: none;
  }

  .button,
  .button:visited,
  .button:hover,
  .button:active,
  .button:focus {
    background: transparent;
    border: 0;
    border-radius: 0;
    color: change-color($black, $lightness: 100%);
    cursor: pointer;
    letter-spacing: 1px;
    line-height: normal;
    padding: 0;
    width: auto;
    &:hover {
      text-decoration: none;
    }
  }

  .message {
    border-radius: 5px;
    line-height: 1.55;
    margin: 20px auto;
    max-width: 800px;
    padding: 15px 10px;
  }

  // SPECIFIC ELEMENT STYLES

  h1 {
    font-size: 1.45rem;
    letter-spacing: 4px;
    line-height: 1.45;
  }

  .weather-icon {
    font-family: "Weather Icons";
  }

  .weather-content {
    background: change-color($blue, $lightness: 30%);
    display: grid;
    grid-template-columns: 100%;
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px;
    @media only screen and (min-width: 980px) {
      grid-template-columns: 50% 50%;
    }
    .col {
      padding: 5px;
      .location {
        text-shadow: 1px 1px 1px $blue;
      }
      .current-weather {
        .temp {
          font-size: 4.5rem;
          margin-top: 25px;
          text-shadow: 2px 2px 1px $blue;
        }
        .weather-icon {
          font-size: 3.5rem;
          margin-top: 25px;
          text-shadow: 2px 2px 1px $blue;
        }
        .weather-summary {
          margin-top: 25px;
          text-shadow: 1px 1px 1px $blue;
        }
      }
      .sunrise-sunset {
        margin: 25px auto 0;
        th {
          background: $blue;
          font-size: 0.7rem;
          padding: 10px;
          text-transform: uppercase;
        }
        td {
          font-size: 0.8rem;
          padding: 10px;
        }
      }
      .switch-button,
      .switch-button:hover,
      .switch-button:active,
      .switch-button:focus {
        background: $blue;
        border: 3px solid $blue;
        border-radius: 34px;
        height: 34px;
        margin: 25px 0;
        padding: 4px 8px;
        position: relative;
        width: 70px;
        &:before {
          background: change-color($black, $lightness: 100%);
          border-radius: 50%;
          bottom: 1px;
          content: "";
          height: 26px;
          position: absolute;
          -webkit-transition: .5s;
          transition: .5s;
          width: 26px;
        }
        &.f,
        &.f:hover,
        &.f:active,
        &.f:focus {
          text-align: right;
          &:before {
            left: 1px;
          }
        }
        &.c,
        &.c:hover,
        &.c:active,
        &.c:focus{
          text-align: left;
          &:before {
            left: 37px;
          }
        }
      }
      .hourly-forecast {
        background: $blue;
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin: 0 auto 20px;
        overflow-x: auto;
        position: relative;
        tr {
          display: table-cell;
          padding: 18px;
          td {
            display: table-row;
            font-size: 0.8rem;
            line-height: 2.4;
            &.weather-icon {
              font-size: 1rem;
            }
          }
        }
      }
      .daily-forecast {
        margin: 0 auto;
        tr {
          border-top: 1px solid $blue;
          th {
            background: $blue;
            font-size: 0.7rem;
            padding: 10px;
            text-transform: uppercase;
          }
          td {
            font-size: 0.8rem;
            line-height: 1.7;
            padding: 10px;
            &:last-child {
              display: none;
              text-align: left;
              @media only screen and (min-width: 550px) {
                display: table-cell;
              }
            }
            &.weather-icon {
              font-size: 1rem;
            }
          }
        }
      }
    }
    .weather-description {
      text-transform: capitalize;
    }
  }

  .error-message {
    background: change-color($error-red, $lightness: 95%);
    border: 1px solid change-color($error-red, $lightness: 90%);
    color: $error-red;
  }

  .info-message {
    background: change-color($info-blue, $lightness: 95%);
    border: 1px solid change-color($info-blue, $lightness: 90%);
    color: $info-blue;
  }

  noscript .info-message {
    left: 50%;
    margin: 0 auto;
    min-width: 280px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
  }
